a{
  text-decoration: none !important;
  /* font-family: 'EB Garamond', serif;
  font-size: 22px; */
}
.top{
  padding-top: 15%;
}
.greeting{
  font-family: 'EB Garamond', serif;
  font-size: 22px;
}
.greeting-blue {
  color: #011936;
}
.greeting-yellow {
  color: #FFCD44;
}
.navbar{
  background-color: #FCFCFC;
}
.sections{
    padding-bottom: 20px;
}
.links{
    color: #2A4B7C !important;
}
.inner-link{
  color: #FFCD44 !important;
  text-decoration: none !important;
}

.logo {
  width: 53px; /* size of the logo. the width needs to be played with to adjust size, just ignore the height. */
  border-radius: 50%; /* crops the square into a circle around the 'S'.*/
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn-custom-styling{
  display: inline-block;
  color: #011936;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  padding: 9px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #2A4B7C;
}

.btn-custom-styling:hover{
  background-color: #2A4B7C;
  color: #FFD662;
}

.custom-hdr{
  color: #011936;
  font-family: 'EB Garamond', serif;
}

.transparency{
  background: transparent !important;
}

.greetingBanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.card{
  width: 500px;
  margin: 30px;
}

.card-img-top{
  height: 250px;
}
